@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-color: #121212;
  backdrop-filter: blur(10px);
}
